# **User input**

In [1]:
x=int(input("Enter first number : "))
y=int(input("Enter second number : "))
z=x+y
print(z)

Enter first number : 3
Enter second number : 7
10

In [2]:
character=input("enter the character : ")
print(character)

enter the character : shruti
shruti

In [3]:
result=eval(input("Enter the expression : "))
result

Enter the expression : 3*3-3

6

# ***If else ***

In [4]:
#Odd Even program
x=8
r=x%2
if(r==0):
  print("Even")
else:
  print("Odd")

Even

# **While Loop**

In [5]:
i=1
while(i<=5):
  print("shrutz")
  i=i+1

shrutz
shrutz
shrutz
shrutz
shrutz

# **For Loop**

In [7]:
x='Shruti'
for i in x:
  print(i)

S
h
r
u
t
i

In [11]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

# **Continue**

In [12]:
for i in range(1,101):
  if (i%3==0):
    continue
  print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20
22
23
25
26
28
29
31
32
34
35
37
38
40
41
43
44
46
47
49
50
52
53
55
56
58
59
61
62
64
65
67
68
70
71
73
74
76
77
79
80
82
83
85
86
88
89
91
92
94
95
97
98
100

# **Pass**

In [13]:
for i in range(1,50):
  if(i%2==0):
    pass
  else:
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49